.DS_Store
*.zip
startbootstrap*/
node_modules/
configuration*.json
.classpath.txt
target/
.classpath
.project
.idea/
.settings/
.vscode/
*.iml
frontend/config.json
# CDK asset staging directory
.cdk.staging/
cdk.out/